@import '../../styles/utils/_mixins.scss';
@import '../../styles/utils/_vars.scss';

$font-family: Mont;
$font-size: 12px;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$line-height: 100%;
$transition-time: 0.3s;

.color-options {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;

  .colors-block__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 2px solid $elements;
    border-radius: 50%;
    margin-right: 8px;
    transition: all $transition-time ease;

    &:hover {
      border-color: #a8a8a8;
      transform: scale(1.05) translate(0, -0.15rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
    }

    &.active {
      border-color: #5f7170;
      transform: scale(1) translate(0, 0);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .colors-block__picker {
      width: 28px;
      height: 28px;
      background-color: $white;
      border-radius: 14px;
      box-sizing: border-box;

      @each $color, $value in $iphone-colors {
        &.colors-block__picker-#{$color} {
          background-color: $value;
        }
      }
    }
  }
}

a:link {
  text-decoration: none;
}

.capacity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px 0 25px;

  .capacity__header {
    margin-bottom: 8px;
  }

  .capacity__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;

    .capacity__option {
      color: $primary;
      font-weight: $font-weight-semi-bold;
      font-size: 14px;
      line-height: 21px;
      border: 2px solid $elements;
      border-radius: 4px;
      padding: 10px;
      min-width: 70px;
      text-align: center;
      background-color: transparent;
      transition: all $transition-time ease;

      &:hover {
        border-color: $icons;
        cursor: pointer;
        transform: scale(1.05) translate(0, -0.15rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
      }

      &.active {
        background-color: $primary;
        color: $white;
        transform: scale(1) translate(0, 0);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.color {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &__id {
      font-weight: $font-weight-bold;
      text-align: right;
      color: $icons;
    }
  }
}

.price {
  display: flex;
  align-items: center;

  &__current {
    margin-right: 8px;

    font-weight: 800;
    font-size: 32px;
    color: $primary;

    &:before {
      content: '$';
    }
  }

  &__full {
    font-weight: 500;
    font-size: 22px;
    text-decoration-line: line-through;
    color: $secondary;

    &:before {
      content: '$';
    }
  }
}

.title {
  height: 15px;
  text-align: left;
  font-size: $font-size;
  line-height: $line-height;
  white-space: nowrap;
  font-weight: $font-weight-semi-bold;
  color: $secondary;
}
