.image__block {
  justify-content: center;

  @media (min-width: 640px) {
    display: flex;
  }

  &hero {
    @media (min-width: 640px) {
      display: flex;
      order: 1;
    }
  }

  &__secondary {
    display: flex;

    @media (min-width: 640px) {
      order: 2;
      flex-direction: column;
      width: max-content;
      gap: 8px;
    }

    &__wrapper {
      background-color: transparent;
      align-items: center;
      justify-content: center;
      border: 2px solid #e2e6e9;
      border-radius: 4px;
      width: 50px;
      height: 50px;
      overflow: hidden;

      cursor: pointer;

      transition: 0.3s;

      &:hover {
        border: 2px solid #4219d0;
      }

      @media (min-width: 640px) {
        width: 80px;
        height: 80px;
      }
    }
  }

  &-active {
    border: 2px solid #0f0f11;
  }
}

.image {
  &-hero {
    width: 320px;
    height: 274px;

    @media (min-width: 640px) {
      width: 500px;
      height: 442px;
    }
  }

  &-secondary {
    width: 50px;
    height: 50px;

    @media (min-width: 640px) {
      min-width: 80px;
      height: 80px;
    }
  }
}
