.container-item-page {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  transition: 0.3s;

  @media (min-width: 488px) {
  }

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.specs {
  .spec-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .spec-title {
      color: #89939a;
      font-family: 'Mont';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
    }

    .spec-value {
      font-family: 'Mont';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
    }
  }
}
