.container-item-page {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  overflow: auto;

  transition: 0.3s;

  @media (min-width: 488px) {
  }

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.specs {
  .spec-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .spec-title {
      color: #89939a;
      font-family: 'Mont';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;

      &__main {
        color: #89939a;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .spec-value {
      font-family: 'Mont';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: right;

      &__main {
        font-size: 600;
      }
    }
  }
}

.grid-container {
  display: grid;
  gap: 75px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'image options'
    'about specs';
}

.grid > * {
  margin: 16px;
}

.grid > .ImageBlock {
  grid-area: image;
}

.grid > .ProductOptions {
  grid-area: options;
}

.grid > .about {
  grid-area: about;
}

.grid > .specs {
  grid-area: specs;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 10px);
  overflow: auto;
}
